*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    width:80%;
    margin:auto;
}

ul{
    list-style:none;
}

a{
    text-decoration:none;
}

.navbar{
    padding:20px 0;
}

.navbar .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.nav-links{
    display:flex;
    gap:30px;
}

.nav-links a{
    color:#333;
    font-size:16px;
}

.menu{
    display:none;
    font-size:30px;
    cursor:pointer;
}


.hero{
    padding: 70px 0;
    text-align: center;
}

.hero h1{
    font-size: 50px;
    width: 70%;
    margin: auto;
    color: #333;
}

.hero p{
    width: 60%;
    margin: 15px auto;
    color: gray;
    line-height: 1.6;
}

.btn{
    background-color: #2b7a78;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    margin-top: 20px;
    cursor: pointer;
}

.hero-images{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
}

.hero-images .image{
    width: 48%;
}

.hero-images img{
    width: 100%;
    display: block;
    border-radius: 15px;
}


.wellbeing{
    background:rgb(242, 241, 241);
    width: 100%;
}

.wellbeing h2{
    text-align:left;
    font-size:42px;
    color:#2d2d2d;
    padding-top: 75px;
}

.wellbeing-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:35px;
}

.cards{
    border-radius: 24px;
    padding: 60px;
    justify-content: space-between;
    display:flex;
    align-items: center;
}

.icon{
    width:60px;
    height:60px;
    background:#2b7a78;
    border-radius:12px;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:20px;
    
}

.icon i{
    color:#fff;
    font-size:24px;
}

.card h3{
    margin-bottom:15px;
    color:#222;
}

.card p{
    color:rgb(144, 142, 142);
   
}

.wellbeing-image img{
    width:350px;
}



.organic-section{
    width: 90%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.organic-image{
    width: 45%;
}

.organic-image img{
    width: 90%;
    border-radius: 20px;
}

.organic-info{
    width: 50%;
}

.organic-info h2{
    font-size: 48px;
    margin-bottom: 20px;
}

.organic-text{
    color: gray;
    line-height: 1.8;
    margin-bottom: 40px;
}

.organic-item{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.organic-icon{
    width: 55px;
    height: 55px;
    border: 2px solid #5ca6ad;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.organic-icon i{
    color: #5ca6ad;
    font-size: 22px;
}

.organic-item p{
    font-weight: 600;
    margin-bottom: 6px;
}

.organic-item span{
    color: gray;
}

.join{
    width:90%;
    margin:90px auto;
    position:relative;
  
}

.join-img{
    width:100%;
    height: 100%;
    display:block;
}

.join-content{
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%,-50%);
    width:80%;
    text-align:center;
    color:#fff;
}

.join-content h2{
    font-size:42px;
    margin:30px 20px;
}



.join button{
    margin-top:50px;
     background: transparent;
     border: 1px solid white;
     color: white;
     border-radius: 50px;
     padding: 30px 70px;
}

.join-box{
    width:90%;
    height: 50%;
    background:#FCE2D7;
    border-radius:10px;
   
    position:absolute;
    left:50%;
    bottom:-50px;
    transform:translateX(-50%);

    display:flex;
    justify-content:space-around;
    align-items:center;

    box-shadow:0 10px 20px rgba(0,0,0,.1);
}

.footer{
    width:100%;
    background:#2b5c5e;
    color:#fff;
    padding:60px 80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:180px;
}

.footer-left{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.social-icons{
    display:flex;
    gap:15px;
}

.footer-right{
    display:flex;
    gap:30px;
}

.footer-right a{
    color:#fff;
}


/* ==========================
        Responsive
========================== */

/* Tablet */
@media (max-width:992px){

    .container{
        width:90%;
    }

    .hero h1{
        width:90%;
        font-size:40px;
    }

    .hero p{
        width:80%;
    }

    .wellbeing-content{
        flex-direction:column;
        text-align:center;
    }

    .card{
        margin-bottom:30px;
    }

    .image img{
        width:300px;
    }

    .organic-section{
        flex-direction:column;
        text-align:center;
    }

    .organic-image,
    .organic-info{
        width:100%;
    }

    .organic-image img{
        width:100%;
    }

    .organic-item{
        justify-content:center;
        text-align:left;
    }

    .join-content{
        width:80%;
        top:40%;
    }

    .join-content h2{
        font-size:35px;
    }

    .join-box{
        width:95%;
        padding:30px;
        gap:20px;
    }

    /* Footer */

    .footer{
        position:relative;
        top:auto;
        left:auto;
        transform:none;
        width:100%;
        height:auto;
        padding:50px;
    }

    .footer-left{
        gap:20px;
    }

    .footer-right{
        gap:25px;
    }

}


/* Mobile */
@media (max-width:768px){

    .nav-links{
        display:none;
    }

    .menu{
        display:block;
    }

    .hero h1{
        width:100%;
        font-size:32px;
    }

    .hero p{
        width:100%;
    }

    .hero-images{
        flex-direction:column;
    }

    .hero-images .image{
        width:100%;
    }

    .wellbeing h2{
        text-align:center;
        font-size:32px;
    }

    .wellbeing-content{
        flex-direction:column;
    }

    .card{
        text-align:center;
        margin-bottom:30px;
    }

    .icon{
        margin:0 auto 20px;
    }

    .image img{
        width:250px;
    }

    .organic-section{
        flex-direction:column;
    }

    .organic-image,
    .organic-info{
        width:100%;
        text-align:center;
    }

    .organic-info h2{
        font-size:34px;
    }

    .organic-item{
        justify-content:center;
    }

    .join-img{
        height:650px;
    }

    .join-content{
        width:90%;
        top:35%;
    }

    .join-content h2{
        font-size:28px;
    }

    .join-content p{
        font-size:15px;
    }

    .join button{
        padding:15px 50px;
        font-size:16px;
        margin-top:30px;
    }

    .join-box{
        flex-direction:column;
        gap:30px;
        padding:30px;
        bottom:-180px;
    }

    .join{
        margin-bottom:260px;
    }

    /* Footer */

    .footer{
        position:relative;
        top:auto;
        left:auto;
        transform:none;
        width:100%;
        height:auto;

        padding:40px 20px;

        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;

        text-align:center;
        gap:25px;
    }

    .footer-left{
        align-items:center;
        gap:20px;
    }

    .social-icons{
        justify-content:center;
        flex-wrap:wrap;
    }

    .footer-right{
        flex-direction:column;
        align-items:center;
        gap:18px;
    }

}


/* Small Mobile */
@media (max-width:576px){

    .hero{
        padding:50px 0;
    }

    .hero h1{
        font-size:26px;
    }

    .btn{
        width:100%;
    }

    .wellbeing h2,
    .organic-info h2,
    .join-content h2{
        font-size:26px;
    }

    .join-img{
        height:700px;
    }

    .join-box{
        padding:20px;
    }

    .box-item h4{
        font-size:16px;
    }

    /* Footer */

    .footer{
        padding:30px 15px;
    }

    .footer-logo{
        width:70px;
        height:auto;
    }

    .footer-right a{
        font-size:13px;
    }

    .social-icons{
        gap:12px;
    }

}